.h2 {
    @include h2();
}

.contact-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@media all and (min-width: 768px) and (max-width: 1200px) {
    .contact-text{
        width: 442px;
        & p {
            margin-top: 0;
        }
    }
}

@media all and (min-width:1200px){
    .contact-title {
        margin-top: 45px;
        margin-bottom: 15px;
        text-align: center;
    }
    .contact-text{
        min-width: 601px;
        max-width: 601px;
        & p {
            margin-top: 0;
        }
    }
}