.h2 {
    @include h2();
}

.contact-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero-claim {
    background: url('../images/hero_contact-mobile.jpg') center no-repeat $colorwhite;
    background-size: 100%;
}

@media all and (min-width: 768px) and (max-width: 1200px) {

    .contact-text {
        width: 442px;

        & p {
            margin-top: 0;
        }
    }

    .hero-claim{
        background: url('../images/hero_home-tablet.jpg') center no-repeat $colorwhite;
        background-size: 100%;
    }
}

@media all and (min-width:1200px) {

    .contact-title {
        margin-top: 45px;
        margin-bottom: 15px;
        text-align: center;
    }

    .contact-text {
        width: 601px;
        
        & p {
            margin-top: 0;
        }
    }

    .hero-claim {
        background: url('../images/hero_contact-desktop.jpg') center no-repeat $colorwhite;
        background-size: 100%;
    }
}