* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #099D8D;
}

.h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #099D8D;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #54585A;
    text-align: center;
    padding: 0 15px;
}


/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    text-align: center;
    top: 0px;
}

.group-name {
    background-color: rgba(9, 157, 141, 0.9);
    color: white;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
.group-name a{
    color: white;
    text-decoration: none;
}

.menu {
    background: rgba(20, 217, 196, 0.9);
}

.menu a {
    color: white;
    text-decoration: none;
}

.list-header {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    height: 45px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    font-size: 15px;
}


/*hero*/

.hero-claim {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../images/hero-1.jpg') left top no-repeat #FFFF;
    height: 300px;
    /*NUEVO*/
    background-size: cover;
}



/*contact*/
.contact-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-box {
    text-align: center,
}


/*footer*/

.footer {
    text-align: center;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #B8B8B9;
    font-weight: 400;
}

.list-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #54585A;
    font-weight: 600;
}

.list-footer>a {
    color: #54585A;
    text-decoration: none;
}

.footer-links{
    padding: 0px;
}

ul{
    list-style: none;
}

.logo {
    margin-top: 30px;
    margin-bottom: 45px;
}

.logo-img {
    width: 115.9px;
}


/* Esto corresponde al menu */
.list-item{
    display:inline-block;
    width: 200px;
    line-height: 3;
}

@media all and (max-width: 350px) {
    .list-item-1 {
        line-height: 24px;
    }
}