* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #099D8D;
}

.h2-claim {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    margin: 0;
    padding: 0;
}

.h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #099D8D;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #54585A;
    text-align: center;
    padding: 0 15px;
}


/*header*/

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    text-align: center;
    top: 0px;
}

.group-name {
    background-color: rgba(9, 157, 141, 0.9);
    color: white;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.group-name a{
    color: white;
    text-decoration: none;
}

.menu {
    background: rgba(20, 217, 196, 0.9);
}

.list-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    height: 45px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    font-size: 13px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menuItem {
    position: relative;
}

.trick {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: -105px;
}

/*hero*/

.hero-claim {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../images/newhero.jpg') center no-repeat #FFF;
    height: 421px;
    background-size: cover;
}

.hero-claim-contact {
    height: 300px;
}

.claim {
    background-color: white;
    text-align: center;
    /* opacity: 0.7; */
    padding: 15px;
    width: 100%;
    position: relative;
    bottom: -26px;
    justify-content: center;
    align-items: center;
}

/*group*/

.equipo {
    text-align: center;
}

.equipo-info {
    margin: 30px 0px;
}

.fortalezas-debilidades {
    padding: 30px 15px 45px 15px;
    background: #f1f1f1;
}

.fortalezas-debilidades .triangle {
    height: 0px;
    width: 0px;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.fortalezas {
    margin-bottom: 30px;
}


/*about us*/

.about-us{
    text-align: center;
}

.h2--group {
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
}

.h2--about-us {
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: center;
}

.members{
    padding: 0px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
} 

.profilepic-img {
    width: 100%;
}

.name {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    text-align: center;
    margin-top: 15px;
}

.rrss {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.menu_rrss{
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.menu__item{
    position: relative
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.menu__item + .menu__item::before {
    content:'';
    height: 2px;
    width: 2px;
    border-radius:50%;
    display: inline-block;
    background:black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}

.menu__item + .menu__item {
    margin-left: 20px;
}


/*footer*/

.footer{
    border-top: 1px solid #B8B8B9;
    text-align: center;
}

.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #B8B8B9;
    font-weight: 400;
    margin: 30px 0 20px 0;
}

ul{
    list-style-type: none;
}

.footer-links{
    padding: 0px;
}

.list-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #54585A;
    font-weight: 600;
}

.list-footer>a {
    color: #54585A;
    text-decoration: none;
}

.logo {
    margin-top: 30px;
    margin-bottom: 45px;
}

.logo-img {
    width: 115.9px;
}

.logo-tablet{
    display: none;
}

 /* Esto corresponde al menu */
.list-item {
    display:inline-block;
    width: 200px;
    line-height: 3;
}
/* fin menu */
/* corresponde a fotosmain */
.profilepic-img{
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}


/*contact*/
.contact-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.contact-box {
    text-align: center,
}
/* Hasta aquí el contact */

@media all and (min-width: 768px) and (max-width: 1200px) {

    .header {
        position: fixed;
        width: 100vw;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        top: 0px;
        margin: 0;
        padding: 0 45px;
        height: 60px;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        background-color: rgba(9, 157, 141, 0.9);
        color: white;
    }
    
    .group-name {
        font-size: 16px;
        background-color: rgba(9, 157, 141, 0);
        margin: 0;
        padding: 0;
    }
    
    .menu {
        background-color: rgba(9, 157, 141, 0);
        margin: 0;
        padding: 0;
    }
    
    
    .list-item{
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 80px;
        line-height: 3;
    }

    .list-item-1{
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 120px;
    }

    .list-header {
        display: flex;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        padding: 0; 
        margin: 0;
    }
    
    .trick {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: -60px;
    }

    .hero-claim{
        background: url(../images/hero-1.jpg) center no-repeat #FFFF;
        background-size: 100%;
    }

    /*CLAIM*/
.h2-claim {
    font-size: 24px;
    text-align: left; /*Doesn't work*/
    }
    .hero-claim {
    height: 421px;
    }
    .claim-container{
    width: 924px;
    }
    .claim {
    opacity: 0.7;
    padding: 15px 30px;
    margin-left: 50px;
    width: 441px; 
    bottom: 0px;
    align-items: flex-start;
    }
    /*EQUIPO*/
    .h2--group {
    margin-top: 45px;
    }
    .group-description {
    width: 601px;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 0;
    }
    .equipo-info {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    }
    /*FORTALEZAS Y DEBILIDADES*/
    .fortalezas-debilidades {
    display: flex;
    justify-content: center;
    padding: 0px 45px 60px 45px;
    }
    .fortalezas-debilidades-justified-container {
    display: flex;
    width: 900px;
    padding-top: 45px;
    }
    .fortalezas {
    margin: 0px;
    width: 50%;
    }
    .debilidades{
    width: 50%;
    }
    .fortalezas-debilidades .triangle {
    transform: translate(-50%, 0px); /*magia. Nadie sabe por que, pero si lo quitas se descuadra*/
    .footer{
        display: flex;
        justify-content: space-between;
        }
        
    .copyright{
        margin: 30px 0 15px 0;
        }
            
    .logo{
        margin: 0 0 60px 0;
        }
    
    .footer-links{
        text-align: right;
        margin-top: 30px;
    }
    
    .left-menu{
        margin-left: 120px;
    }

    .right-menu{
        margin-right: 120px;
    }

    .logo-mobile{
        display: none;
    }

    .logo-tablet{
        display: block;
    }
}

@media all and (min-width:1200px){

    // AQUÍ EMPIEZA EL HEADER
    .header {
        position: fixed;
        width: 100vw;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        top: 0px;
        margin: 0;
        padding: 0 120px;
        height: 60px;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        background-color: rgba(9, 157, 141, 0.9);
        color: white;
    }
    
    .group-name {
        font-size: 16px;
        background-color: rgba(9, 157, 141, 0);
        margin: 0;
        padding: 0;
    }
    
    .menu {
        background-color: rgba(9, 157, 141, 0);
        margin: 0;
        padding: 0;
    }
    
    
    .list-item{
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 80px;
        line-height: 3;
    }

    .list-item-1{
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 120px;
    }

    .list-header {
        display: flex;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        padding: 0; 
        margin: 0;
    }

    // AQUÍ TERMINA EL HEADER

    /*CLAIM*/
    .h2-claim {
        font-size: 24px;
        text-align: left; /*Doesn't work*/
    }

    .hero-claim {
        height: 550px;
        background: url(../images/hero-1.jpg) center top no-repeat #FFF;
        background-size: 100%;
    }
    
    .claim-container{
        width: 924px;
    }

    .claim {
        opacity: 0.7;
        padding: 15px 30px;
        margin: 0px;
        width: 50%; /*width unknown*/
        bottom: 0px;
        align-items: flex-start;
    }

    /*EQUIPO*/
    .h2--group {
        margin-top: 45px;
    }

    .group-description {
        width: 601px;
        margin-bottom: 60px;
        text-align: center;
        margin-top: 0;
    }

    .equipo-info {
        display:flex;
        align-items: center;
        flex-direction: column;
        margin: 0px;
    }

    /*FORTALEZAS Y DEBILIDADES*/

    .fortalezas-debilidades {
        display: flex;
        justify-content: center;
        padding: 0px 45px 60px 45px;
    }

    .fortalezas-debilidades-justified-container {
        display: flex;
        width: 900px;
        padding-top: 45px;
    }
    
    .fortalezas {
        margin: 0px;
        width: 50%;
    }

    .debilidades{
        width: 50%;
    }
    
    .fortalezas-debilidades .triangle {
        transform: translate(-50%, 0px); /*magia. Nadie sabe por que, pero si lo quitas se descuadra*/
    }

    .footer{
        display: flex;
        justify-content: space-between;
        }
        
    .copyright{
        margin: 30px 0 15px 0;
        }
            
    .logo{
        margin: 0 0 60px 0;
        }
    
    .footer-links{
        text-align: right;
        margin-top: 30px;
    }
    
    .left-menu{
        margin-left: 120px;
    }

    .right-menu{
        margin-right: 120px;
    }

    .logo-mobile{
        display: none;
    }

    .logo-tablet{
        display: block;
    }
}