<section class="section menuItem equipo"> 

    <div id="team" class="trick"></div>

    <div class="div equipo-info">
        <h2 class="section-title section-title--group">EQUIPO</h2>
        <p class="main-text group-description">Somos un grupo de mujeres que, aunque tengamos perspectivas diferentes y vengamos de diversos sectores, juntas queremos reinventarnos profesionalmente. Además, no tenemos miedo de aceptar nuevos retos y compartimos la necesidad de aprender el lenguaje del futuro (y ya, presente). Entre todas, queremos romper la brecha de género en el sector digital y que este sea cada vez más diverso.</p>
    </div>

    <div class="strengths-weaknesses">
        <div class="triangle"></div>
        <div class="strengths-weaknesses-justified-container">

            <section class="section strengths">
                <h3 class="subtitle">Fortalezas</h3>
                <p class="main-text">Nos une las ganas de aprender, la motivación por mejorar continuamente y una actitud positiva. En nuestro grupo contamos con una mente creativa, capacidad analítica y muy buenas habilidades organizativas. ¡Entre todas lo podemos hacer todo!</p>
            </section>

            <section class="section weaknesses">
                <h3 class="subtitle">Debilidades</h3>
                <p class="main-text">Nuestro recorrido en grupo es corto, por lo que aún nos queda mucho por conocer de cada una. Tampoco disponemos de mucha experiencia en este campo y nuestro fuerte no es hablar en público (todavía).</p>
            </section>
            
        </div>
    </div>

</section>