<section class="section menuItem about-us">
    <div id="aboutus" class="trick"></div>
    <h2 class="h2 h2--about-us">QUIÉNES SOMOS</h2>
    <ul class="members">
        <li>
            <article>
                <div class="profile-pic">
                <img class="profilepic-img" src="assets/images/alba.jpg" alt="">
                </div>
                <h4 class="name">Alba López Folgar</h4>
                <p class="main-text">Titulada en Sociología incentivada por tratar cuestiones y problemas sociales. Con ganas de desarrollar las habilidades necesarias para emprender un nuevo camino en la programación web, e ilusionada por formar parte de un grupo de mujeres dispuestas a aportar talento, diversidad y nuevas perspectivas en el sector digital.</p>
                <div class="rrss">
                    <ul class="menu_rrss">
                        <li class="menu__item"><a href="https://twitter.com/"><i class="fab fa-twitter" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-linkedin-in" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href="https://github.com/albahniuk"><i class="fab fa-github-alt" style="color:#099D8D"></i></a></li>
                        <li class="menu__item"><a href="mailto: albalopezfolgar@gmail.com"><i class="fas fa-envelope" style="color: #099D8D"></i></a></li>
                    </ul>
                </div>
            </article>
        </li>
        <li>
            <article>
                    <div class="profile-pic">
                        <img class="profilepic-img" src="assets/images/sandra.jpg" alt="">
                    </div>
                <h4 class="name">Sandra Fernandez Ferrer</h4>
                <p class="main-text">Me gusta crear. Me gradué en psicología y cursé un máster en investigación. He estado escribiendo, dibujando y diseñando desde pequeña. Ahora, estoy en Adalab para descubrir cómo crear de otra manera.</p>
                <div class="rrss">
                    <ul class="menu_rrss">
                        <li class="menu__item"><a href="https://twitter.com/rnrith"><i class="fab fa-twitter" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-linkedin-in" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-github-alt" style="color:#099D8D"></i></a></li>
                        <li class="menu__item"> <a href="mailto: sandrafernfer@gmail.com"><i class="fas fa-envelope" style="color: #099D8D"></i></a></li>
                    </ul>
                </div>
            </article>
        </li>
        <li>
            <article>
                <div class="profile-pic">
                    <img class="profilepic-img" src="assets/images/silvia.jpg" alt="">
                </div>
                
                <h4 class="name">Silvia García Cacho</h4>
                <p class="main-text">Soy una Conservadora del Patrimonio y Gestora Cultural. Dado mi interés por la tecnología y el aprendizaje continuo, decidí emprender esta aventura y empezar una nueva carrera como front-end developer. De todos modos, espero que este cambio me permita ayudar a las empresas culturales a comunicarse en el Siglo XXI.</p>
                <div class="rrss">
                    <ul class="menu_rrss">
                        <li class="menu__item"><a href="https://twitter.com/garcaplay"><i class="fab fa-twitter" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-linkedin-in" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-github-alt" style="color:#099D8D"></i></a></li>
                        <li class="menu__item"><a href="mailto: silvia@garca.info"><i class="fas fa-envelope" style="color: #099D8D"></i></a></li>
                    </ul>
                </div>
            </article>
        </li>
        <li>
            <article>
                <div class="profile-pic">
                    <img class="profilepic-img" src="assets/images/maria.jpg" alt="">
                </div>
                <h4 class="name">María Olid Camarena</h4>
                <p class="main-text">Licenciada en Biología y en la actualidad profesora de matemáticas. Desde que conocí Adalab supe que podría darle un giro radical a mi carrera y tener la ocasión de aprender un lenguaje nuevo. En un futuro espero ser capaz de combinar Biología con programación.</p>
                <div class="rrss">
                    <ul class="menu_rrss">
                        <li class="menu__item"><a href="https://twitter.com/mariaoca12"><i class="fab fa-twitter" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-linkedin-in" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-github-alt" style="color:#099D8D"></i></a></li>
                        <li class="menu__item"><a href="mailto: mariaolidcamarena@gmail.com"><i class="fas fa-envelope" style="color: #099D8D"></i></a></li>
                    </ul>
                </div>
            </article>
        </li>
        <li>
            <article>
                <div class="profile-pic">
                    <img class="profilepic-img" src= "assets/images/ester.jpg" alt="">
                </div>
                <h4 class="name">Ester Legaz Marina</h4>
                <p class="main-text">Estudié Periodismo con Formación Complementaria en Comunicación Audiovisual aún sabiendo que iba a ser difícil encontrar trabajo. La programación siempre me había llamado la atención y cuando escuché hablar de Adalab supe que era una oportunidad que no podía dejar pasar para mejorar mi futuro.</p>
                <div class="rrss">
                    <ul class="menu_rrss">
                        <li class="menu__item"> <a href="https://twitter.com/esterlegaz"><i class="fab fa-twitter" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-linkedin-in" style="color: #099D8D;"></i></a></li>
                        <li class="menu__item"><a href=""><i class="fab fa-github-alt" style="color:#099D8D"></i></a></li>
                        <li class="menu__item"><a href="mailto: esterlegaz@gmail.com"><i class="fas fa-envelope" style="color: #099D8D"></i></a></li>
                    </ul>
                </div>
            </article>
        </li>
    </ul>
</section>