.about-us {
    text-align: center;
    margin-bottom: 30px;
}

.section-title--group {
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
}

.section-title--about-us {
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: center;
}

.members {
    padding: 0px;
}

.profile-pic {
   
    margin-top: 30px;
    margin-bottom: 15px;
  
} 

.profilepic-img {
    width: 180px;
    height: 180px;
}

.name {
    color: $colorBlack;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    text-align: center;
    margin-top: 15px;
}

.rrss {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.menu_rrss {
    padding: 10px 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.menu__item{
    position: relative
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.menu__item + .menu__item::before {
    content:'';
    height: 2px;
    width: 2px;
    border-radius:50%;
    display: inline-block;
    background:$colorBlack;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.profilepic-img {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}

 @media all and (min-width: 768px) and (max-width: 1200px) {

    .about-us{
    margin: 0 45px;
}   

    .section.menuItem.about-us{
    padding: 0;
}

    .section-title--about-us {
    margin: 45px 0;
}

    .section.menuItem.about-us {
        padding: 0;
    }

.section-title--about-us {
        margin: 45px 0;
    }

    .members {
        margin: 0;
    }

    .grid{
        display: grid;
        grid-template-columns: 205px 1fr 205px;
        margin-bottom: 60px;
    }

    .menu_rrss {
        padding: 0;
        margin: 0;   
    }  

    .member-description {
        margin-left: 30px;
    }

    .profilepic-img {
        width: 205px;
        height: 205px;
    }

    .profile-pic{
        grid-column:1 / 2;
        margin: 0;
    }

    .member-description{
        grid-column: span 2;
        text-align: left;
    }
        
    .main-text.description{
        text-align: left;
        padding:0px;
        margin-block-end: 15px;
        margin-block-start: 15px;
    }

    .rrss{
        display: inline-block;
        text-align: left;
        margin:0px;
    }

    .name{
        text-align: left;
        margin:0px;
        padding: 0px;
    }

    .name.par {
        text-align: right;
    }

    .member-description.par {
            text-align: right;
            margin-left: 0;
            margin-right: 30px;
    }
        
    .main-text.description.par {
            text-align: right;
            padding: 0;
    }

    .profile-pic.par{
        grid-column: 3 / 4;
        grid-row-start: 1;
    }
}

 @media all and (min-width: 1200px) {

    .about-us{
        margin: 0 auto;
        max-width: 960px;
    }
    .section.menuItem.about-us{
        padding: 0;
    }
    
    .section-title--about-us {
        margin: 45px 0;
    }
    
    .members {
        margin: 0;
    }
    
    .grid{
        display:grid;
        grid-template-columns: 278px 1fr 278px;
        margin-bottom: 60px;
      
    }
    
    .menu_rrss {
        padding: 0;
        margin: 0;   
    }  
    
    .member-description {
        margin-left: 45px;
    }
    
    .profilepic-img {
        width: 278px;
        height: 278px;
    }
    
    .profile-pic{
        grid-column:1 / 2;
        margin: 0;
        }
    
    .member-description{
        grid-column: span 2;
        text-align: left;
        max-width: 439px;
        }
        
    .main-text.description{
        text-align: left;
        padding:0px;
        margin-block-end: 15px;
        margin-block-start: 15px;
        }
    
    .rrss{
        display: inline-block;
        text-align: left;
        margin:0px;
    }
    
     .name{
        text-align: left;
        margin:0px;
        padding: 0px;
        }
    
    .name.par {
        text-align: right;
        }
    
    .member-description.par {
            text-align: right;
            margin-left: auto;
            margin-right: 45px;
        }
        
    .main-text.description.par {
            text-align: right;
            padding: 0;
        }
    
    .profile-pic.par{
        grid-column: 3 / 4;
        grid-row-start: 1;
    }

    .about-us {
        text-align: center;
        margin-bottom: 0;
    }
}
   