.hero-claim {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../images/hero_home-mobile.jpg') center no-repeat $colorwhite;
    height: 421px;
    background-size: cover;
}

.hero-claim-contact {
    height: 300px;
}

.claim {
    background-color: $colorwhite;
    position: relative;
    text-align: center;
    padding: 15px;
    width: 100%;
    bottom: -26px;
    justify-content: center;
    align-items: center;
}

.section-title-claim {
    color: $colorBlack;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 768px) and (max-width: 1200px) {

    .hero-claim{
        background: url('../images/hero_home-tablet.jpg') center no-repeat $colorwhite;
    }

    .hero-claim-contact {
        height: 300px;
    }

    .section-title-claim {
        font-size: 24px;
    }
    
    .claim-container {
        width: 924px;
    }

    .claim {
        opacity: 0.7;
        padding: 15px 30px;
        margin-left: 50px;
        width: 441px; 
        bottom: 0px;
        align-items: flex-start;
    }
}

@media all and (min-width:1200px) {

    .section-title-claim {
        font-size: 24px;
    }

    .hero-claim {
        background: url('../images/hero_home-desktop.jpg') center no-repeat $colorwhite;
        height: 550px;
    }

    .hero-claim-contact {
        height: 400px;
    }

    .claim-container {
        width: 924px;
    }

    .claim {
        opacity: 0.8;
        padding: 15px 30px;
        margin: 0px;
        width: 574px;
        bottom: 0px;
        align-items: flex-start;
    }
}