.h2 {
    @include h2();
}

.main-text {
    @include main-text();
}

.about-us{
    text-align: center;
    margin-bottom: 30px;
}

.h2--group {
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
}

.h2--about-us {
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: center;
}

.members{
    padding: 0px;
}

.profile-pic {
   
    margin-top: 30px;
    margin-bottom: 15px;
  
} 

.profilepic-img {
    width: 180px;
    height: 180px;
}

.name {
    color: $colorBlack;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    text-align: center;
    margin-top: 15px;
}

.rrss {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.menu_rrss{
    padding: 10px 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
  
.menu__item{
    position: relative
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.menu__item + .menu__item::before {
    content:'';
    height: 2px;
    width: 2px;
    border-radius:50%;
    display: inline-block;
    background:$colorBlack;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}

.menu__item + .menu__item {
    margin-left: 20px;
}

.profilepic-img{
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
}
 // about us
 @media all and (min-width: 768px) and (max-width: 1200px) {
 .about-us{
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 60px;
}

.h2--about-us {
    margin: 45px 0 45px 0;
}

.members {
    margin: 0;
}

.members li:nth-child(even) article{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-bottom: 60px;
}

.members li:nth-child(odd) article{
    display: flex;
    flex-direction: row;
}


.name {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px; 
    margin-top: 0px;
    margin-bottom: 0;
    text-align: left;
}
.name.par {
    text-align: right;
}
.member-description {
    margin-left: 30px;
}

.member-description.par {
    text-align: right;
    margin-left: 0;
    margin-right: 30px;
    
}
.main-text.description {
    text-align: left;
    padding: 0;

}
.main-text.description.par {
    text-align: right;

}

.profilepic-img {
    width: 205px;
    height: 205px;
}

.profile-pic {
    margin: 0;
}

.rrss {
    display: flex;
    margin: 0px;
    justify-content: flex-start;
}

.rrss.par {
    display: flex;
    justify-content: flex-end;
}

.menu_rrss{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}  
 }


 @media all and (min-width: 1200px) {
    .about-us{
       margin-left: 130px;
       margin-right: 130px;
       padding-bottom: 60px;
   }
   
   .h2--about-us {
       margin: 45px 0 45px 0;
   }
   
   .members {
       margin: 0;
   }
   
   .members li:nth-child(even) article{
       display: flex;
       flex-direction: row-reverse;
       margin-top: 60px;
       margin-bottom: 60px;
   }
   
   .members li:nth-child(odd) article{
       display: flex;
       flex-direction: row;
   }
   
   .name {
       color: #000000;
       font-family: 'Open Sans', sans-serif;
       font-weight: 400;
       font-size: 20px; 
       margin-top: 0px;
       margin-bottom: 0;
       text-align: left;
   }

   .name.par {
       text-align: right;
   }

   .member-description {
       margin-left: 45px;
       width: 439px;
   }
   
   .member-description.par {
       text-align: right;
       margin-left: 0;
       margin-right: 45px;
   }

   .main-text.description {
       text-align: left;
       padding: 0;
   
   }
   .main-text.description.par {
       text-align: right;
   
   }
   
   .profilepic-img {
       width: 278px;
       height: 278px;
   }

   .profile-pic {
    margin: 0;
    }
   
    .rrss {
       display: flex;
       margin: 0px;
       justify-content: flex-start;
   }
   
    .rrss.par {
        display: flex;
        justify-content: flex-end;
    }
   
   .menu_rrss{
       padding: 0;
       margin: 0;
       list-style: none;
       display: flex;
   }

}
   