.footer{
    border-top: 1px solid $footerText;
    text-align: center;
}

.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $footerText;
    font-weight: 400;
    margin: 30px 0 20px 0;
}

.footer-links{
    padding: 0px;
}

.list-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $colorText;
    font-weight: 600;
}

.list-footer>a {
    color: $colorText;
    text-decoration: none;
}

.logo {
    margin-top: 30px;
    margin-bottom: 45px;
}

.logo-img {
    width: 115.9px;
}


@media all and (min-width: 768px) and (max-width: 1200px) {

    .footer_container{
        display: flex;
        justify-content: space-between; 
        position: relative;
        height: 160px;
    }
        
    .copyright{
        margin: 30px 0 15px 45px;
    }
    
    .footer-links{
        text-align: right;
        margin: 25px 45px 60px 0;
        li {
            padding-bottom: 5px;
        }
    }
            
    .logo{
        position: absolute;
        bottom: 0;
        left: 0;
        // margin-bottom: 60px;
        margin-left: 45px;
    }
    
    .logo-img{
        position: absolute;
    }
}

@media all and (min-width:1200px){
    .footer{
        display: flex;
        justify-content: space-between;
    }
            
    .footer_container{
        display: flex;
        justify-content: space-between; 
        height: 103px;
        position: relative;
        background: red;
    }
        
    .copyright{
        margin: 30px 0 15px 45px;
    }
    
    .footer-links{
        text-align: right;
        margin-top: 25px;
    }
            
    .logo{
        position: absolute;
        bottom: -15px;
        left: 0;
        margin-bottom: 60px;
        margin-left: 45px;
        margin-top: 15px;
    }
    
    .logo-img{
        position: absolute;
        margin-bottom: 60px;
    }

}
