.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    text-align: center;
    top: 0px;
}

.group-name {
    background-color: $colorBGgroup;
    color: $colorwhite;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.group-name a {
    color: $colorwhite;
    text-decoration: none;
}

.menu {
    background: rgba(20, 217, 196, 0.9);

    & a{
        color: $colorwhite;
        text-decoration: none;
    }
}

.list-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    height: 45px;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    font-size: 13px;
}

.list-item {
    display:inline-block;
    width: 200px;
    line-height: 3;
}

@media all and (min-width: 768px) and (max-width: 1200px) {

    .header {
        position: fixed;
        width: 100vw;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        top: 0px;
        margin: 0;
        padding: 0 45px;
        height: 60px;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        background-color: $colorBGgroup;
        color: $colorwhite;
    }
    
    .group-name {
        font-size: 16px;
        background-color: $colorBGgroupT;
        margin: 0;
        padding: 0;
    }
    
    .menu {
        background-color:$colorBGgroupT;
        margin: 0;
        padding: 0;
    }
       
    .list-item {
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 80px;
        line-height: 3;
    }

    .list-item-1 {
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 120px;
    }

    .list-header {
        display: flex;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        padding: 0; 
        margin: 0;
    }
}

@media all and (min-width:1200px){

    // AQUÍ EMPIEZA EL HEADER
    .header {
        position: fixed;
        width: 100vw;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        top: 0px;
        margin: 0;
        padding: 0 120px;
        height: 60px;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        background-color: $colorBGgroup;
        color: $colorwhite;
    }
    
    .group-name {
        font-size: 16px;
        background-color: $colorBGgroupT;
        margin: 0;
        padding: 0;
    }
    
    .menu {
        background-color: $colorBGgroupT;
        margin: 0;
        padding: 0;
    }
    
    .list-item {
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 80px;
        line-height: 3;
    }

    .list-item-1 {
        margin: 0;
        padding: 0;
        display:inline-block;
        width: 120px;
    }

    .list-header {
        display: flex;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        padding: 0; 
        margin: 0;
    }
}