@import 'variables';



@mixin h2() {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: $colorTitle;
}

@mixin h3() {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: $colorTitle;
    margin: 0;
}

@mixin main-text() {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $colorText;
    text-align: center;
    padding: 0 15px;
}
